h3 Request access
.message Request for access has been send.
form
	ul
		li
			input(type="text", name="full-name" placeholder="Full name")
		li
			input(type="text", name="email" placeholder="Emailaddress")
		li
			button Send request