@import 'nib'

inline-block()
	display inline-block
	box-sizing border-box
	vertical-align top

.hibb-modal .modalbody
	padding 0
	background #EEE
	
	header
		padding 15px 30px 15px 30px
		background #888
		color white
		
		h2, p.message
			inline-block()
			
		h2
			font-size 1.2em
			font-weight normal
			margin-right 55px
			
		p.message.success
			margin 0
			padding 4px 12px
			background white
			font-weight bold
		
	.body
		padding 30px
		margin 0

#hibb-login
	h3
		margin-top 0
		
	button, .request-access h3
		border none
		font-weight bold
		padding 4px 12px
		box-sizing border-box
		outline none
		border-radius 3px
		color white
		margin 0
		inline-block()
		
	&.request-access-active
		.request-access
			h3
				background white
				color black
				margin 0
				margin-bottom 1em
				padding 0
			form
				display block

		.local, .federated
			display none
		
	.local, .federated, .request-access
		background #FFF
		padding 20px
		box-shadow 0 2px 4px #BBB
		
	.request-access
		margin-top 20px
		
		h3
			background gray
			cursor pointer
			
		.message
			display none
		
		form
			display none
			
	.local, .request-access
		margin-top 20px
		
		&.has-error		
			button
				background red
				color white
				cursor default
				width 100%
				padding 10px
				
		ul
			margin 0
			padding 0
			list-style none
			
			li
				height 40px
					
				input
					box-sizing border-box
					width 100%
					height 30px
					border 1px solid #DDD
					border-radius 0
					padding-left 4px
					outline none
					font-size 1em
					
				button
					margin-top 10px
					white-space nowrap
					